.state {
  color: $syscoblue;
  background: $syscoblue;
  border-color: $syscoblue;
  font-weight: 600;
  border-radius: 6px;
  text-transform: uppercase;

  &.open {
    color: $textalternative;
    background: $syscoblue;
    border-color: $syscoblue;
  }
  &.pending {
    color: $syscoblue;
    background: $textalternative;
    border-color: $syscoblue;
  }
  &.approved {
    color: $textalternative;
    background: $syscogreen;
    border-color: $syscogreen;
  }
  &.rejected {
    color: $textalternative;
    background: $syscored;
    border-color: $syscored;
  }
  &.partial {
    color: $syscoorange;
    background: $textalternative;
    border-color: $syscoorange;
  }
  &.reviewed {
    color: $textalternative;
    background: $syscoyellow;
    border-color: $syscoyellow;
  }
  &.closed {
    color: $textalternative;
    background: $bluegrey;
    border-color: $bluegrey;
  }
  &.expired {
    color: $syscored;
    background: $textalternative;
    border-color: $syscored;
  }
  &.archived {
    color: $bluegrey;
    background: $textalternative;
    border-color: $bluegrey;
  }
}
