.state {
  color: $liftekakblue;
  background: $liftekakblue;
  border-color: $liftekakblue;
  font-weight: 600;
  border-radius: 6px;
  text-transform: uppercase;

  &.open {
    color: $textalternative;
    background: $liftekakblue;
    border-color: $liftekakblue;
  }
  &.pending {
    color: $liftekakblue;
    background: $textalternative;
    border-color: $liftekakblue;
  }
  &.approved {
    color: $textalternative;
    background: $liftekakgreen;
    border-color: $liftekakgreen;
  }
  &.rejected {
    color: $textalternative;
    background: $liftekakred;
    border-color: $liftekakred;
  }
  &.partial {
    color: $liftekakorange;
    background: $textalternative;
    border-color: $liftekakorange;
  }
  &.reviewed {
    color: $textalternative;
    background: $liftekakyellow;
    border-color: $liftekakyellow;
  }
  &.closed {
    color: $textalternative;
    background: $bluegrey;
    border-color: $bluegrey;
  }
  &.expired {
    color: $liftekakred;
    background: $textalternative;
    border-color: $liftekakred;
  }
  &.archived {
    color: $bluegrey;
    background: $textalternative;
    border-color: $bluegrey;
  }
}
