.grid-filter-panel {
  @include flexbox(0 0 auto, row, flex-start);
  flex-wrap: wrap;
  width: 98vw;
  padding: 0.5rem;
  margin: auto;
  .title {
    @include flexbox(0 0 auto, row);
    color: $textstandard;
    font-size: 1.9rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
    padding: 0.4rem 1rem 0.4rem 0;
    @include bg-border(right, normal);
    .with-sublable-wrapper {
      @include flexbox(0 0 auto, column, center, flex-start);
    }
    .with-sublable-title-icon {
      @include flexbox(0 0 auto, row);
    }
    .sublabel {
      font-size: 1rem;
      font-weight: 500;
    }
    i {
      font-size: 1rem;
      margin-left: 0.6rem;
    }
    .effective-date-editor {
      @include flexbox(0 0 auto, row);
      margin-top: 0.3rem;
      .effective-date-btn {
        cursor: pointer;
        &:hover {
          color: $liftekakblue;
        }
        &:active {
          color: lighten($liftekakblue, 20%);
        }
      }
    }
  }
  @include breakpoint(xs) {
    .title {
      margin-left: 1.5rem;
    }
  }
  .advanced-search-link {
    color: $textstandard;
  }

  .batch-info {
    @include bg-border(right, normal, half);
    @include flexbox(0 0 auto, row, flex-start);
    margin-right: 1rem;
    padding-right: 0.8rem;
    .region-label {
      font-weight: 600;
    }
    .id-label {
      font-weight: 700;
      font-size: 1.2rem;
      padding: 0.2rem 0;
      @include flexbox(0 0 auto, row, flex-start);
      span {
        font-weight: 400;
      }
      .ant-tag {
        margin-left: 0.3rem;
      }
    }
    .opco-label {
      font-weight: 400;
      font-weight: 1rem;
    }
  }
}

.dotted-connector {
  @include bg-border(center);
  width: 1.5rem;
  height: 1rem;
  margin-right: 1rem;
}
