/***********************************************************
    REWARDS APP PRIMARY SASS FILE - BUILT ON BT-UX-FRAMEWORK
    Author: Marc Aravindth 
    (Auto Compiled to CSS during runtime)
***********************************************************/
.grid-panel-offer-code-edit {
  display: block !important;
  .left-panel-offercode {
    width: 42%;
    display: inline-block;
    padding: 30px 50px;
  }
  .right-panel-offercode {
    width: 58%;
    display: inline-block;
    clear: both;
    position: relative;
    bottom: 120px;
  }
}
.reward-wrapper {
  padding: 1rem;
}
.rewards-tab {
  width: 100%;
  padding: 10px 0;
}
.reward-tab-icon {
  display: inline-block !important;
  background-image: url("data:image/svg+xml,%0A%3Csvg id='medal' xmlns='http://www.w3.org/2000/svg' width='13.563' height='18.261' viewBox='0 0 13.563 18.261'%3E%3Cg id='Group_41' data-name='Group 41' transform='translate(0 0)'%3E%3Cpath id='Path_127' data-name='Path 127' d='M76.438,8.243l-.892-1.221a.23.23,0,0,1,0-.265l.873-1.232a.229.229,0,0,0-.078-.332L75,4.48a.223.223,0,0,1-.116-.239l.25-1.489a.227.227,0,0,0-.217-.265l-1.508-.063a.228.228,0,0,1-.209-.164L72.787.8a.228.228,0,0,0-.31-.146l-1.389.6a.236.236,0,0,1-.261-.056L69.819.075a.23.23,0,0,0-.343,0l-.993,1.139a.224.224,0,0,1-.258.06L66.829.7a.228.228,0,0,0-.306.149l-.4,1.456a.232.232,0,0,1-.205.168l-1.508.086a.23.23,0,0,0-.213.269l.273,1.486a.226.226,0,0,1-.112.239l-1.321.732a.229.229,0,0,0-.075.332l.892,1.221a.23.23,0,0,1,0,.265l-.874,1.232a.229.229,0,0,0,.078.332l1.333.713a.223.223,0,0,1,.116.239l-.25,1.489a.227.227,0,0,0,.217.265l1.508.063a.228.228,0,0,1,.209.164l.422,1.452a.228.228,0,0,0,.31.146l1.389-.6a.236.236,0,0,1,.261.056l1.008,1.124a.23.23,0,0,0,.343,0l.993-1.139a.224.224,0,0,1,.258-.06l1.4.575a.228.228,0,0,0,.306-.149l.4-1.456a.232.232,0,0,1,.205-.168l1.508-.086a.23.23,0,0,0,.213-.269l-.273-1.486a.226.226,0,0,1,.112-.239l1.321-.732A.22.22,0,0,0,76.438,8.243ZM69.7,11.032a4.1,4.1,0,1,1,4.1-4.1A4.106,4.106,0,0,1,69.7,11.032Z' transform='translate(-62.919 0)' fill='%23fff'/%3E%3Cpath id='Path_128' data-name='Path 128' d='M267.118,366.513a1.182,1.182,0,0,1-.844.351,1.286,1.286,0,0,1-.34-.049l-.963-.291-.743.679c-.026.022-.049.045-.075.063l1.195,3.7a.169.169,0,0,0,.295.052l.87-1.116a.167.167,0,0,1,.179-.06l1.355.4a.169.169,0,0,0,.209-.213Z' transform='translate(-256.642 -352.831)' fill='%23fff'/%3E%3Cpath id='Path_129' data-name='Path 129' d='M118.427,366.524l-.963.291a1.166,1.166,0,0,1-.34.049,1.188,1.188,0,0,1-.844-.351l-1.139,3.52a.169.169,0,0,0,.209.213l1.355-.4a.165.165,0,0,1,.179.06l.87,1.116a.169.169,0,0,0,.295-.052l1.195-3.7a.6.6,0,0,1-.075-.063Z' transform='translate(-113.185 -352.831)' fill='%23fff'/%3E%3Cpath id='Path_130' data-name='Path 130' d='M176.738,113.36l-1.545-.112-.582-1.433a.325.325,0,0,0-.6,0l-.582,1.433-1.545.112a.325.325,0,0,0-.187.571l1.183,1-.37,1.5a.324.324,0,0,0,.485.355l1.314-.818,1.314.818a.324.324,0,0,0,.485-.355l-.37-1.5,1.183-1A.323.323,0,0,0,176.738,113.36Z' transform='translate(-167.524 -107.447)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
}
.reward-tab-icon-white {
  display: inline-block !important;
  background-image: url("data:image/svg+xml,%0A%3Csvg id='medal' xmlns='http://www.w3.org/2000/svg' width='13.563' height='18.261' viewBox='0 0 13.563 18.261'%3E%3Cg id='Group_41' data-name='Group 41' transform='translate(0 0)'%3E%3Cpath id='Path_127' data-name='Path 127' d='M76.438,8.243l-.892-1.221a.23.23,0,0,1,0-.265l.873-1.232a.229.229,0,0,0-.078-.332L75,4.48a.223.223,0,0,1-.116-.239l.25-1.489a.227.227,0,0,0-.217-.265l-1.508-.063a.228.228,0,0,1-.209-.164L72.787.8a.228.228,0,0,0-.31-.146l-1.389.6a.236.236,0,0,1-.261-.056L69.819.075a.23.23,0,0,0-.343,0l-.993,1.139a.224.224,0,0,1-.258.06L66.829.7a.228.228,0,0,0-.306.149l-.4,1.456a.232.232,0,0,1-.205.168l-1.508.086a.23.23,0,0,0-.213.269l.273,1.486a.226.226,0,0,1-.112.239l-1.321.732a.229.229,0,0,0-.075.332l.892,1.221a.23.23,0,0,1,0,.265l-.874,1.232a.229.229,0,0,0,.078.332l1.333.713a.223.223,0,0,1,.116.239l-.25,1.489a.227.227,0,0,0,.217.265l1.508.063a.228.228,0,0,1,.209.164l.422,1.452a.228.228,0,0,0,.31.146l1.389-.6a.236.236,0,0,1,.261.056l1.008,1.124a.23.23,0,0,0,.343,0l.993-1.139a.224.224,0,0,1,.258-.06l1.4.575a.228.228,0,0,0,.306-.149l.4-1.456a.232.232,0,0,1,.205-.168l1.508-.086a.23.23,0,0,0,.213-.269l-.273-1.486a.226.226,0,0,1,.112-.239l1.321-.732A.22.22,0,0,0,76.438,8.243ZM69.7,11.032a4.1,4.1,0,1,1,4.1-4.1A4.106,4.106,0,0,1,69.7,11.032Z' transform='translate(-62.919 0)' fill='%236a737b'/%3E%3Cpath id='Path_128' data-name='Path 128' d='M267.118,366.513a1.182,1.182,0,0,1-.844.351,1.286,1.286,0,0,1-.34-.049l-.963-.291-.743.679c-.026.022-.049.045-.075.063l1.195,3.7a.169.169,0,0,0,.295.052l.87-1.116a.167.167,0,0,1,.179-.06l1.355.4a.169.169,0,0,0,.209-.213Z' transform='translate(-256.642 -352.831)' fill='%236a737b'/%3E%3Cpath id='Path_129' data-name='Path 129' d='M118.427,366.524l-.963.291a1.166,1.166,0,0,1-.34.049,1.188,1.188,0,0,1-.844-.351l-1.139,3.52a.169.169,0,0,0,.209.213l1.355-.4a.165.165,0,0,1,.179.06l.87,1.116a.169.169,0,0,0,.295-.052l1.195-3.7a.6.6,0,0,1-.075-.063Z' transform='translate(-113.185 -352.831)' fill='%236a737b'/%3E%3Cpath id='Path_130' data-name='Path 130' d='M176.738,113.36l-1.545-.112-.582-1.433a.325.325,0,0,0-.6,0l-.582,1.433-1.545.112a.325.325,0,0,0-.187.571l1.183,1-.37,1.5a.324.324,0,0,0,.485.355l1.314-.818,1.314.818a.324.324,0,0,0,.485-.355l-.37-1.5,1.183-1A.323.323,0,0,0,176.738,113.36Z' transform='translate(-167.524 -107.447)' fill='%236a737b'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
}
.offer-tab-icon {
  display: inline-block !important;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.736' height='23.736' viewBox='0 0 23.736 23.736'%3E%3Cg id='download' transform='translate(-19.301 -19.302)'%3E%3Cpath id='Path_401' data-name='Path 401' d='M30.933,19.383a.387.387,0,0,1,.51.032h0l1.3,1.3.059.055a1.16,1.16,0,0,0,1.177.208h0l1.72-.66.043-.014a.387.387,0,0,1,.457.236h0l.529,1.378.029.069a1.16,1.16,0,0,0,1.053.675h1.476l.045,0a.387.387,0,0,1,.342.384h0v1.841l0,.076a1.16,1.16,0,0,0,.685.984h0l1.683.75.04.021a.387.387,0,0,1,.156.49h0l-.6,1.348-.03.074a1.16,1.16,0,0,0,.269,1.218h0L42.925,30.9l.032.036a.387.387,0,0,1-.032.51h0l-1.3,1.3-.055.059a1.16,1.16,0,0,0-.208,1.177h0l.661,1.72.014.043a.387.387,0,0,1-.236.456h0l-1.378.529-.069.029a1.16,1.16,0,0,0-.675,1.054h0v1.476l0,.045a.387.387,0,0,1-.384.341H37.446l-.076,0a1.16,1.16,0,0,0-.984.686h0l-.749,1.683-.021.04a.387.387,0,0,1-.49.156h0l-1.349-.6-.074-.03a1.16,1.16,0,0,0-1.218.269h0l-1.043,1.044-.036.032a.387.387,0,0,1-.51-.032h0l-1.3-1.3-.059-.055a1.16,1.16,0,0,0-1.177-.208h0l-1.719.661-.043.014a.387.387,0,0,1-.456-.236h0l-.529-1.378-.029-.069a1.16,1.16,0,0,0-1.054-.675H23.051l-.045,0a.387.387,0,0,1-.341-.384h0V37.446l0-.076a1.16,1.16,0,0,0-.686-.984h0l-1.683-.749-.04-.021a.387.387,0,0,1-.156-.49h0l.6-1.349.03-.074a1.16,1.16,0,0,0-.269-1.218h0l-1.044-1.043-.032-.036a.387.387,0,0,1,.032-.51h0l1.3-1.3.055-.059a1.16,1.16,0,0,0,.208-1.177h0l-.66-1.72-.014-.043a.387.387,0,0,1,.236-.457h0l1.378-.529.069-.029a1.16,1.16,0,0,0,.675-1.053h0V23.051l0-.045a.387.387,0,0,1,.384-.342h1.842l.076,0a1.16,1.16,0,0,0,.983-.685h0l.749-1.683.021-.04a.387.387,0,0,1,.49-.156h0l1.348.6.074.03a1.16,1.16,0,0,0,1.218-.269h0L30.9,19.415Zm3.523,12.56a2.126,2.126,0,1,0,2.126,2.126A2.126,2.126,0,0,0,34.456,31.943ZM35.569,26.7a.387.387,0,0,0-.547,0h0l-8.2,8.2a.387.387,0,1,0,.547.547h0l8.2-8.2A.387.387,0,0,0,35.569,26.7Zm-1.114,6.017A1.353,1.353,0,1,1,33.1,34.069,1.353,1.353,0,0,1,34.456,32.716Zm-6.572-6.572A2.126,2.126,0,1,0,30.01,28.27,2.126,2.126,0,0,0,27.883,26.144Zm0,.773A1.353,1.353,0,1,1,26.53,28.27,1.353,1.353,0,0,1,27.883,26.917Z' transform='translate(0 0)' fill='%236a737b'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  position: relative;
  top: 7px;
  margin-right: 5px;
}
.offer-tab-icon-white {
  display: inline-block !important;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.736' height='20.736' viewBox='0 0 23.736 23.736'%3E%3Cg id='download' transform='translate(-19.301 -19.302)'%3E%3Cpath id='Path_401' data-name='Path 401' d='M30.933,19.383a.387.387,0,0,1,.51.032h0l1.3,1.3.059.055a1.16,1.16,0,0,0,1.177.208h0l1.72-.66.043-.014a.387.387,0,0,1,.457.236h0l.529,1.378.029.069a1.16,1.16,0,0,0,1.053.675h1.476l.045,0a.387.387,0,0,1,.342.384h0v1.841l0,.076a1.16,1.16,0,0,0,.685.984h0l1.683.75.04.021a.387.387,0,0,1,.156.49h0l-.6,1.348-.03.074a1.16,1.16,0,0,0,.269,1.218h0L42.925,30.9l.032.036a.387.387,0,0,1-.032.51h0l-1.3,1.3-.055.059a1.16,1.16,0,0,0-.208,1.177h0l.661,1.72.014.043a.387.387,0,0,1-.236.456h0l-1.378.529-.069.029a1.16,1.16,0,0,0-.675,1.054h0v1.476l0,.045a.387.387,0,0,1-.384.341H37.446l-.076,0a1.16,1.16,0,0,0-.984.686h0l-.749,1.683-.021.04a.387.387,0,0,1-.49.156h0l-1.349-.6-.074-.03a1.16,1.16,0,0,0-1.218.269h0l-1.043,1.044-.036.032a.387.387,0,0,1-.51-.032h0l-1.3-1.3-.059-.055a1.16,1.16,0,0,0-1.177-.208h0l-1.719.661-.043.014a.387.387,0,0,1-.456-.236h0l-.529-1.378-.029-.069a1.16,1.16,0,0,0-1.054-.675H23.051l-.045,0a.387.387,0,0,1-.341-.384h0V37.446l0-.076a1.16,1.16,0,0,0-.686-.984h0l-1.683-.749-.04-.021a.387.387,0,0,1-.156-.49h0l.6-1.349.03-.074a1.16,1.16,0,0,0-.269-1.218h0l-1.044-1.043-.032-.036a.387.387,0,0,1,.032-.51h0l1.3-1.3.055-.059a1.16,1.16,0,0,0,.208-1.177h0l-.66-1.72-.014-.043a.387.387,0,0,1,.236-.457h0l1.378-.529.069-.029a1.16,1.16,0,0,0,.675-1.053h0V23.051l0-.045a.387.387,0,0,1,.384-.342h1.842l.076,0a1.16,1.16,0,0,0,.983-.685h0l.749-1.683.021-.04a.387.387,0,0,1,.49-.156h0l1.348.6.074.03a1.16,1.16,0,0,0,1.218-.269h0L30.9,19.415Zm3.523,12.56a2.126,2.126,0,1,0,2.126,2.126A2.126,2.126,0,0,0,34.456,31.943ZM35.569,26.7a.387.387,0,0,0-.547,0h0l-8.2,8.2a.387.387,0,1,0,.547.547h0l8.2-8.2A.387.387,0,0,0,35.569,26.7Zm-1.114,6.017A1.353,1.353,0,1,1,33.1,34.069,1.353,1.353,0,0,1,34.456,32.716Zm-6.572-6.572A2.126,2.126,0,1,0,30.01,28.27,2.126,2.126,0,0,0,27.883,26.144Zm0,.773A1.353,1.353,0,1,1,26.53,28.27,1.353,1.353,0,0,1,27.883,26.917Z' transform='translate(0 0)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.filters .filter .ant-select {
  min-width: 5rem;
  max-width: 20vw;
}
.btn-tab-reward {
  background: #8cb9d0;
  border-radius: 27px;
  opacity: 1;
  border: #8cb9d0;
}
.btn-tab-reward-text {
  position: relative;
  top: -3px;
}
// Rewards Tags
.tag-rewards {
  height: 28px;
  align-items: center;
  cursor: default;
  border: 1px dashed;
  padding: 2px 10px;
  border-radius: 4px;
}
.tag-loyalty {
  border-color: #0c96da;
  color: #0c96da;
}
.tag-growth {
  border-color: #54ae44;
  color: #54ae44;
}
.tag-seasonal {
  border-color: #f1c40f;
  color: #f1c40f;
}
.tag-type-selected {
  background-color: #54ae44;
  border-color: #54ae44;
  &:hover,
  &:active,
  &:focus {
    background-color: #54ae44;
    border-color: #54ae44;

    .btn-title {
      color: #fff;
    }
  }
  .tag-loyalty-group-icon {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='13.555' height='17.125' viewBox='0 0 13.555 17.125'%3E%3Cg id='Group_477' data-name='Group 477' transform='translate(-1207 -123.358)' opacity='0.821'%3E%3Cg id='download' transform='translate(1078.293 95.283)'%3E%3Cpath id='Path_397' data-name='Path 397' d='M141.831,33.8s0-.005-.007-.007-.005-.005-.007-.007l-.552-.552c-.071-.071-.14-.14-.21-.209a1.158,1.158,0,0,1-.327-.672,2.758,2.758,0,0,1-.007-.341V31.5a2.388,2.388,0,0,0-.129-.985,1.5,1.5,0,0,0-1.132-.877,6.026,6.026,0,0,0-.876-.021,2.113,2.113,0,0,1-.952-.111,2.915,2.915,0,0,1-.7-.608,3.652,3.652,0,0,0-.692-.621,1.521,1.521,0,0,0-1.509,0,3.594,3.594,0,0,0-.686.616,2.916,2.916,0,0,1-.7.608,2.056,2.056,0,0,1-.955.117,5.88,5.88,0,0,0-.883.021,1.5,1.5,0,0,0-1.132.877,2.388,2.388,0,0,0-.129.985v.508a2.746,2.746,0,0,1-.007.341,1.155,1.155,0,0,1-.329.67c-.069.071-.14.14-.21.21-.186.186-.373.37-.557.557a1.524,1.524,0,0,0-.387,1.457,1.547,1.547,0,0,0,.387.669c.067.069.136.136.205.2.188.187.377.373.562.564a1.154,1.154,0,0,1,.333.7c.009.108.005.219.005.327,0,.287,0,.573,0,.86a1.516,1.516,0,0,0,.6,1.21,1.459,1.459,0,0,0,.674.287,2.549,2.549,0,0,0,.386.019h.9a1.2,1.2,0,0,1,.554.124,1.462,1.462,0,0,1,.361.279l.647.647a1.566,1.566,0,0,0,1.141.493,1.591,1.591,0,0,0,1.105-.508l.644-.644a1.41,1.41,0,0,1,.387-.288,1.207,1.207,0,0,1,.527-.106h.907a2.355,2.355,0,0,0,.4-.025,1.485,1.485,0,0,0,.683-.315,1.512,1.512,0,0,0,.552-1.182v-.874a2.5,2.5,0,0,1,.009-.345,1.173,1.173,0,0,1,.329-.663c.191-.195.386-.386.578-.578.065-.065.133-.131.2-.2a1.5,1.5,0,0,0,0-2.1Zm-3.555,1.613a2.872,2.872,0,0,1-2.349,2.252,3.058,3.058,0,0,1-.44.034h0a2.844,2.844,0,1,1,2.789-2.285Z' fill='%23fff'/%3E%3Cpath id='Path_398' data-name='Path 398' d='M352.167,736.6v4.409c0,.1-.113.216-.221.172l-.341-.14c-.791-.322-1.579-.639-2.37-.966.016-.007.03-.014.046-.019h-.094a.411.411,0,0,0,.049.019c-.1.044-.2.08-.3.118l-2.418.987a.176.176,0,0,1-.221-.172V736.6h.177c.058,0,.118,0,.177.009h.014a1.375,1.375,0,0,1,.168.046,1.165,1.165,0,0,1,.143.085c.17.147.322.32.479.478a4.056,4.056,0,0,0,.734.647,2.085,2.085,0,0,0,.959.285,2.063,2.063,0,0,0,.975-.205,2.78,2.78,0,0,0,.8-.637c.186-.187.366-.393.568-.566a1.183,1.183,0,0,1,.145-.085c.055-.018.11-.034.166-.046a.035.035,0,0,0,.014,0c.058,0,.118-.005.177-.007S352.109,736.6,352.167,736.6Z' transform='translate(-213.744 -695.993)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }
  .tag-growth-group-icon {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14.499' height='12.187' viewBox='0 0 14.499 12.187'%3E%3Cg id='download_1_' data-name='download (1)' transform='translate(-8.06 -17.406)'%3E%3Cpath id='Path_400' data-name='Path 400' d='M29.981,36.912l.844.219a3.6,3.6,0,0,0,.437.531,3.655,3.655,0,0,0,1.969,1.031V40.6H32.106a.238.238,0,0,0-.25.187l-.344,1.187a.249.249,0,0,0,.25.312H36.2a.264.264,0,0,0,.25-.312l-.344-1.187a.272.272,0,0,0-.25-.187H34.731V38.693A3.458,3.458,0,0,0,36.7,37.662a3.6,3.6,0,0,0,.437-.531l.844-.219A4.351,4.351,0,0,0,41.2,32.694v-.812a.347.347,0,0,0-.344-.344h-2.5V30.444a.347.347,0,0,0-.344-.344H29.919a.347.347,0,0,0-.344.344v1.094H27.044a.347.347,0,0,0-.344.344v.812A4.444,4.444,0,0,0,29.981,36.912ZM38.356,32.6h1.812v.094a3.319,3.319,0,0,1-2.375,3.187A9.559,9.559,0,0,0,38.356,32.6Zm-6.25.906,1.219-.156.531-1.094c.062-.125.219-.125.25,0l.531,1.094,1.219.156a.157.157,0,0,1,.094.25l-.875.844.219,1.219a.145.145,0,0,1-.219.156l-1.094-.594-1.094.594a.149.149,0,0,1-.219-.156l.219-1.219-.875-.844A.144.144,0,0,1,32.106,33.506ZM27.794,32.6h1.812a10.169,10.169,0,0,0,.562,3.281,3.319,3.319,0,0,1-2.375-3.187Z' transform='translate(-18.64 -12.694)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  .tag-seasonal-group-icon {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12.703' height='14.398' viewBox='0 0 12.703 14.398'%3E%3Cg id='download' transform='translate(-15 -10.657)'%3E%3Cpath id='Path_403' data-name='Path 403' d='M15,22.933H27.7V20.907a.861.861,0,0,0-.8-.907h-.67v.931a1.023,1.023,0,1,1-2.045,0V20H22.377v.916a1.022,1.022,0,1,1-2.043,0V20H18.488v.931a1.023,1.023,0,1,1-2.045,0V20H15.8a.863.863,0,0,0-.8.907Z' transform='translate(0 -7.648)' fill='%23fff'/%3E%3Cpath id='Path_404' data-name='Path 404' d='M27.7,37.66H15v8.591a.861.861,0,0,0,.8.907H26.906a.863.863,0,0,0,.8-.907Zm-4.994,3.072.873-.873a.136.136,0,0,1,.192.192l-.873.873a.129.129,0,0,1-.1.04.134.134,0,0,1-.1-.04.136.136,0,0,1,0-.192Zm-1.493-1.74a.136.136,0,0,1,.272,0v1.234a.136.136,0,1,1-.272,0Zm-2.286.867a.136.136,0,0,1,.192,0l.873.873a.136.136,0,0,1,0,.192.134.134,0,0,1-.1.04.129.129,0,0,1-.1-.04l-.873-.873A.136.136,0,0,1,18.929,39.859Zm-1,2.423a.136.136,0,0,1,.136-.136H19.3a.136.136,0,1,1,0,.272H18.061a.134.134,0,0,1-.136-.136Zm2.069,1.552-.873.871a.134.134,0,0,1-.1.04.132.132,0,0,1-.1-.04.136.136,0,0,1,0-.192l.873-.871a.134.134,0,0,1,.192,0A.136.136,0,0,1,19.994,43.834Zm1.493,1.738a.136.136,0,1,1-.272,0V44.338a.136.136,0,0,1,.272,0Zm-.136-1.92a1.37,1.37,0,1,1,1.37-1.37A1.37,1.37,0,0,1,21.351,43.652ZM23.774,44.7a.132.132,0,0,1-.1.04.134.134,0,0,1-.1-.04l-.873-.871a.136.136,0,0,1,0-.192.134.134,0,0,1,.192,0l.873.871A.136.136,0,0,1,23.774,44.7Zm.867-2.286H23.407a.136.136,0,0,1,0-.272h1.234a.136.136,0,0,1,0,.272Z' transform='translate(0 -22.103)' fill='%23fff'/%3E%3Cpath id='Path_405' data-name='Path 405' d='M45.007,57.08a1.1,1.1,0,1,0,1.089,1.1A1.1,1.1,0,0,0,45.007,57.08Z' transform='translate(-23.655 -37.999)' fill='%23fff'/%3E%3Cpath id='Path_406' data-name='Path 406' d='M24.446,13.283a.751.751,0,1,0,1.5,0V11.445a.751.751,0,1,0-1.5,0Z' transform='translate(-7.731 0)' fill='%23fff'/%3E%3Cpath id='Path_407' data-name='Path 407' d='M67.146,13.283a.751.751,0,1,0,1.5,0V11.445a.751.751,0,1,0-1.5,0Z' transform='translate(-42.682 0)' fill='%23fff'/%3E%3Cpath id='Path_408' data-name='Path 408' d='M45.87,13.443a.749.749,0,1,0,1.5,0V11.619a.749.749,0,0,0-1.5,0Z' transform='translate(-25.268 -0.175)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  .btn-title {
    color: #fff;
  }
}
.tag-growth-icon {
  display: inline-block !important;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.499' height='12.187' viewBox='0 0 14.499 12.187'%3E%3Cg id='download_1_' data-name='download (1)' transform='translate(-8.06 -17.406)'%3E%3Cpath id='Path_400' data-name='Path 400' d='M29.981,36.912l.844.219a3.6,3.6,0,0,0,.437.531,3.655,3.655,0,0,0,1.969,1.031V40.6H32.106a.238.238,0,0,0-.25.187l-.344,1.187a.249.249,0,0,0,.25.312H36.2a.264.264,0,0,0,.25-.312l-.344-1.187a.272.272,0,0,0-.25-.187H34.731V38.693A3.458,3.458,0,0,0,36.7,37.662a3.6,3.6,0,0,0,.437-.531l.844-.219A4.351,4.351,0,0,0,41.2,32.694v-.812a.347.347,0,0,0-.344-.344h-2.5V30.444a.347.347,0,0,0-.344-.344H29.919a.347.347,0,0,0-.344.344v1.094H27.044a.347.347,0,0,0-.344.344v.812A4.444,4.444,0,0,0,29.981,36.912ZM38.356,32.6h1.812v.094a3.319,3.319,0,0,1-2.375,3.187A9.559,9.559,0,0,0,38.356,32.6Zm-6.25.906,1.219-.156.531-1.094c.062-.125.219-.125.25,0l.531,1.094,1.219.156a.157.157,0,0,1,.094.25l-.875.844.219,1.219a.145.145,0,0,1-.219.156l-1.094-.594-1.094.594a.149.149,0,0,1-.219-.156l.219-1.219-.875-.844A.144.144,0,0,1,32.106,33.506ZM27.794,32.6h1.812a10.169,10.169,0,0,0,.562,3.281,3.319,3.319,0,0,1-2.375-3.187Z' transform='translate(-18.64 -12.694)' fill='%2372bc65'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  position: relative;
  top: 6px;
}
.tag-loyalty-icon {
  display: inline-block !important;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.555' height='17.125' viewBox='0 0 13.555 17.125'%3E%3Cg id='Group_477' data-name='Group 477' transform='translate(-1207 -123.358)' opacity='0.821'%3E%3Cg id='download' transform='translate(1078.293 95.283)'%3E%3Cpath id='Path_397' data-name='Path 397' d='M141.831,33.8s0-.005-.007-.007-.005-.005-.007-.007l-.552-.552c-.071-.071-.14-.14-.21-.209a1.158,1.158,0,0,1-.327-.672,2.758,2.758,0,0,1-.007-.341V31.5a2.388,2.388,0,0,0-.129-.985,1.5,1.5,0,0,0-1.132-.877,6.026,6.026,0,0,0-.876-.021,2.113,2.113,0,0,1-.952-.111,2.915,2.915,0,0,1-.7-.608,3.652,3.652,0,0,0-.692-.621,1.521,1.521,0,0,0-1.509,0,3.594,3.594,0,0,0-.686.616,2.916,2.916,0,0,1-.7.608,2.056,2.056,0,0,1-.955.117,5.88,5.88,0,0,0-.883.021,1.5,1.5,0,0,0-1.132.877,2.388,2.388,0,0,0-.129.985v.508a2.746,2.746,0,0,1-.007.341,1.155,1.155,0,0,1-.329.67c-.069.071-.14.14-.21.21-.186.186-.373.37-.557.557a1.524,1.524,0,0,0-.387,1.457,1.547,1.547,0,0,0,.387.669c.067.069.136.136.205.2.188.187.377.373.562.564a1.154,1.154,0,0,1,.333.7c.009.108.005.219.005.327,0,.287,0,.573,0,.86a1.516,1.516,0,0,0,.6,1.21,1.459,1.459,0,0,0,.674.287,2.549,2.549,0,0,0,.386.019h.9a1.2,1.2,0,0,1,.554.124,1.462,1.462,0,0,1,.361.279l.647.647a1.566,1.566,0,0,0,1.141.493,1.591,1.591,0,0,0,1.105-.508l.644-.644a1.41,1.41,0,0,1,.387-.288,1.207,1.207,0,0,1,.527-.106h.907a2.355,2.355,0,0,0,.4-.025,1.485,1.485,0,0,0,.683-.315,1.512,1.512,0,0,0,.552-1.182v-.874a2.5,2.5,0,0,1,.009-.345,1.173,1.173,0,0,1,.329-.663c.191-.195.386-.386.578-.578.065-.065.133-.131.2-.2a1.5,1.5,0,0,0,0-2.1Zm-3.555,1.613a2.872,2.872,0,0,1-2.349,2.252,3.058,3.058,0,0,1-.44.034h0a2.844,2.844,0,1,1,2.789-2.285Z' fill='%23077eb7'/%3E%3Cpath id='Path_398' data-name='Path 398' d='M352.167,736.6v4.409c0,.1-.113.216-.221.172l-.341-.14c-.791-.322-1.579-.639-2.37-.966.016-.007.03-.014.046-.019h-.094a.411.411,0,0,0,.049.019c-.1.044-.2.08-.3.118l-2.418.987a.176.176,0,0,1-.221-.172V736.6h.177c.058,0,.118,0,.177.009h.014a1.375,1.375,0,0,1,.168.046,1.165,1.165,0,0,1,.143.085c.17.147.322.32.479.478a4.056,4.056,0,0,0,.734.647,2.085,2.085,0,0,0,.959.285,2.063,2.063,0,0,0,.975-.205,2.78,2.78,0,0,0,.8-.637c.186-.187.366-.393.568-.566a1.183,1.183,0,0,1,.145-.085c.055-.018.11-.034.166-.046a.035.035,0,0,0,.014,0c.058,0,.118-.005.177-.007S352.109,736.6,352.167,736.6Z' transform='translate(-213.744 -695.993)' fill='%23077eb7'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}
.tag-seasonal-icon {
  display: inline-block !important;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.174' height='10.398' viewBox='0 0 9.174 10.398'%3E%3Cg id='download' transform='translate(-15 -10.657)'%3E%3Cpath id='Path_403' data-name='Path 403' d='M15,22.118h9.174V20.655A.622.622,0,0,0,23.6,20h-.484v.672a.739.739,0,1,1-1.477,0V20H20.327v.662a.738.738,0,1,1-1.476,0V20H17.519v.672a.739.739,0,1,1-1.477,0V20h-.467a.623.623,0,0,0-.575.655Z' transform='translate(0 -8.119)' fill='%23f1c40f'/%3E%3Cpath id='Path_404' data-name='Path 404' d='M24.174,37.66H15v6.2a.622.622,0,0,0,.575.655H23.6a.623.623,0,0,0,.575-.655Zm-3.607,2.219.63-.63a.1.1,0,0,1,.139.139l-.63.63a.093.093,0,0,1-.069.029.1.1,0,0,1-.069-.029.1.1,0,0,1,0-.139Zm-1.079-1.257a.1.1,0,0,1,.2,0v.891a.1.1,0,1,1-.2,0Zm-1.651.626a.1.1,0,0,1,.139,0l.63.63a.1.1,0,0,1,0,.139.1.1,0,0,1-.069.029.093.093,0,0,1-.069-.029l-.63-.63A.1.1,0,0,1,17.837,39.248ZM17.113,41a.1.1,0,0,1,.1-.1H18.1a.1.1,0,1,1,0,.2h-.891a.1.1,0,0,1-.1-.1Zm1.494,1.121-.63.629a.1.1,0,0,1-.069.029.1.1,0,0,1-.069-.029.1.1,0,0,1,0-.139l.63-.629a.1.1,0,0,1,.139,0A.1.1,0,0,1,18.607,42.118Zm1.079,1.255a.1.1,0,1,1-.2,0v-.891a.1.1,0,0,1,.2,0Zm-.1-1.387A.989.989,0,1,1,20.576,41,.989.989,0,0,1,19.587,41.987Zm1.75.76a.1.1,0,0,1-.069.029.1.1,0,0,1-.069-.029l-.63-.629a.1.1,0,0,1,0-.139.1.1,0,0,1,.139,0l.63.629A.1.1,0,0,1,21.336,42.748Zm.626-1.651h-.891a.1.1,0,0,1,0-.2h.891a.1.1,0,0,1,0,.2Z' transform='translate(0 -23.465)' fill='%23f1c40f'/%3E%3Cpath id='Path_405' data-name='Path 405' d='M44.7,57.08a.793.793,0,1,0,.786.793A.793.793,0,0,0,44.7,57.08Z' transform='translate(-25.112 -40.339)' fill='%23f1c40f'/%3E%3Cpath id='Path_406' data-name='Path 406' d='M24.446,12.553a.543.543,0,1,0,1.084,0V11.226a.543.543,0,1,0-1.084,0Z' transform='translate(-8.207)' fill='%23f1c40f'/%3E%3Cpath id='Path_407' data-name='Path 407' d='M67.146,12.553a.543.543,0,1,0,1.084,0V11.226a.543.543,0,1,0-1.084,0Z' transform='translate(-45.311 0)' fill='%23f1c40f'/%3E%3Cpath id='Path_408' data-name='Path 408' d='M45.87,12.728a.541.541,0,1,0,1.083,0V11.411a.541.541,0,1,0-1.083,0Z' transform='translate(-26.824 -0.185)' fill='%23f1c40f'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  position: relative;
  top: 6px;
}
.tag-growth-group-icon {
  display: inline-block !important;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.499' height='12.187' viewBox='0 0 14.499 12.187'%3E%3Cg id='download_1_' data-name='download (1)' transform='translate(-8.06 -17.406)'%3E%3Cpath id='Path_400' data-name='Path 400' d='M29.981,36.912l.844.219a3.6,3.6,0,0,0,.437.531,3.655,3.655,0,0,0,1.969,1.031V40.6H32.106a.238.238,0,0,0-.25.187l-.344,1.187a.249.249,0,0,0,.25.312H36.2a.264.264,0,0,0,.25-.312l-.344-1.187a.272.272,0,0,0-.25-.187H34.731V38.693A3.458,3.458,0,0,0,36.7,37.662a3.6,3.6,0,0,0,.437-.531l.844-.219A4.351,4.351,0,0,0,41.2,32.694v-.812a.347.347,0,0,0-.344-.344h-2.5V30.444a.347.347,0,0,0-.344-.344H29.919a.347.347,0,0,0-.344.344v1.094H27.044a.347.347,0,0,0-.344.344v.812A4.444,4.444,0,0,0,29.981,36.912ZM38.356,32.6h1.812v.094a3.319,3.319,0,0,1-2.375,3.187A9.559,9.559,0,0,0,38.356,32.6Zm-6.25.906,1.219-.156.531-1.094c.062-.125.219-.125.25,0l.531,1.094,1.219.156a.157.157,0,0,1,.094.25l-.875.844.219,1.219a.145.145,0,0,1-.219.156l-1.094-.594-1.094.594a.149.149,0,0,1-.219-.156l.219-1.219-.875-.844A.144.144,0,0,1,32.106,33.506ZM27.794,32.6h1.812a10.169,10.169,0,0,0,.562,3.281,3.319,3.319,0,0,1-2.375-3.187Z' transform='translate(-18.64 -12.694)' fill='%237792a5'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  position: relative;
  top: 6px;
}
.tag-loyalty-group-icon {
  display: inline-block !important;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.555' height='17.125' viewBox='0 0 13.555 17.125'%3E%3Cg id='Group_477' data-name='Group 477' transform='translate(-1207 -123.358)' opacity='0.821'%3E%3Cg id='download' transform='translate(1078.293 95.283)'%3E%3Cpath id='Path_397' data-name='Path 397' d='M141.831,33.8s0-.005-.007-.007-.005-.005-.007-.007l-.552-.552c-.071-.071-.14-.14-.21-.209a1.158,1.158,0,0,1-.327-.672,2.758,2.758,0,0,1-.007-.341V31.5a2.388,2.388,0,0,0-.129-.985,1.5,1.5,0,0,0-1.132-.877,6.026,6.026,0,0,0-.876-.021,2.113,2.113,0,0,1-.952-.111,2.915,2.915,0,0,1-.7-.608,3.652,3.652,0,0,0-.692-.621,1.521,1.521,0,0,0-1.509,0,3.594,3.594,0,0,0-.686.616,2.916,2.916,0,0,1-.7.608,2.056,2.056,0,0,1-.955.117,5.88,5.88,0,0,0-.883.021,1.5,1.5,0,0,0-1.132.877,2.388,2.388,0,0,0-.129.985v.508a2.746,2.746,0,0,1-.007.341,1.155,1.155,0,0,1-.329.67c-.069.071-.14.14-.21.21-.186.186-.373.37-.557.557a1.524,1.524,0,0,0-.387,1.457,1.547,1.547,0,0,0,.387.669c.067.069.136.136.205.2.188.187.377.373.562.564a1.154,1.154,0,0,1,.333.7c.009.108.005.219.005.327,0,.287,0,.573,0,.86a1.516,1.516,0,0,0,.6,1.21,1.459,1.459,0,0,0,.674.287,2.549,2.549,0,0,0,.386.019h.9a1.2,1.2,0,0,1,.554.124,1.462,1.462,0,0,1,.361.279l.647.647a1.566,1.566,0,0,0,1.141.493,1.591,1.591,0,0,0,1.105-.508l.644-.644a1.41,1.41,0,0,1,.387-.288,1.207,1.207,0,0,1,.527-.106h.907a2.355,2.355,0,0,0,.4-.025,1.485,1.485,0,0,0,.683-.315,1.512,1.512,0,0,0,.552-1.182v-.874a2.5,2.5,0,0,1,.009-.345,1.173,1.173,0,0,1,.329-.663c.191-.195.386-.386.578-.578.065-.065.133-.131.2-.2a1.5,1.5,0,0,0,0-2.1Zm-3.555,1.613a2.872,2.872,0,0,1-2.349,2.252,3.058,3.058,0,0,1-.44.034h0a2.844,2.844,0,1,1,2.789-2.285Z' fill='%237792a5'/%3E%3Cpath id='Path_398' data-name='Path 398' d='M352.167,736.6v4.409c0,.1-.113.216-.221.172l-.341-.14c-.791-.322-1.579-.639-2.37-.966.016-.007.03-.014.046-.019h-.094a.411.411,0,0,0,.049.019c-.1.044-.2.08-.3.118l-2.418.987a.176.176,0,0,1-.221-.172V736.6h.177c.058,0,.118,0,.177.009h.014a1.375,1.375,0,0,1,.168.046,1.165,1.165,0,0,1,.143.085c.17.147.322.32.479.478a4.056,4.056,0,0,0,.734.647,2.085,2.085,0,0,0,.959.285,2.063,2.063,0,0,0,.975-.205,2.78,2.78,0,0,0,.8-.637c.186-.187.366-.393.568-.566a1.183,1.183,0,0,1,.145-.085c.055-.018.11-.034.166-.046a.035.035,0,0,0,.014,0c.058,0,.118-.005.177-.007S352.109,736.6,352.167,736.6Z' transform='translate(-213.744 -695.993)' fill='%237792a5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}
.tag-seasonal-group-icon {
  display: inline-block !important;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.703' height='14.398' viewBox='0 0 12.703 14.398'%3E%3Cg id='download' transform='translate(-15 -10.657)'%3E%3Cpath id='Path_403' data-name='Path 403' d='M15,22.933H27.7V20.907a.861.861,0,0,0-.8-.907h-.67v.931a1.023,1.023,0,1,1-2.045,0V20H22.377v.916a1.022,1.022,0,1,1-2.043,0V20H18.488v.931a1.023,1.023,0,1,1-2.045,0V20H15.8a.863.863,0,0,0-.8.907Z' transform='translate(0 -7.648)' fill='%237792a5'/%3E%3Cpath id='Path_404' data-name='Path 404' d='M27.7,37.66H15v8.591a.861.861,0,0,0,.8.907H26.906a.863.863,0,0,0,.8-.907Zm-4.994,3.072.873-.873a.136.136,0,0,1,.192.192l-.873.873a.129.129,0,0,1-.1.04.134.134,0,0,1-.1-.04.136.136,0,0,1,0-.192Zm-1.493-1.74a.136.136,0,0,1,.272,0v1.234a.136.136,0,1,1-.272,0Zm-2.286.867a.136.136,0,0,1,.192,0l.873.873a.136.136,0,0,1,0,.192.134.134,0,0,1-.1.04.129.129,0,0,1-.1-.04l-.873-.873A.136.136,0,0,1,18.929,39.859Zm-1,2.423a.136.136,0,0,1,.136-.136H19.3a.136.136,0,1,1,0,.272H18.061a.134.134,0,0,1-.136-.136Zm2.069,1.552-.873.871a.134.134,0,0,1-.1.04.132.132,0,0,1-.1-.04.136.136,0,0,1,0-.192l.873-.871a.134.134,0,0,1,.192,0A.136.136,0,0,1,19.994,43.834Zm1.493,1.738a.136.136,0,1,1-.272,0V44.338a.136.136,0,0,1,.272,0Zm-.136-1.92a1.37,1.37,0,1,1,1.37-1.37A1.37,1.37,0,0,1,21.351,43.652ZM23.774,44.7a.132.132,0,0,1-.1.04.134.134,0,0,1-.1-.04l-.873-.871a.136.136,0,0,1,0-.192.134.134,0,0,1,.192,0l.873.871A.136.136,0,0,1,23.774,44.7Zm.867-2.286H23.407a.136.136,0,0,1,0-.272h1.234a.136.136,0,0,1,0,.272Z' transform='translate(0 -22.103)' fill='%237792a5'/%3E%3Cpath id='Path_405' data-name='Path 405' d='M45.007,57.08a1.1,1.1,0,1,0,1.089,1.1A1.1,1.1,0,0,0,45.007,57.08Z' transform='translate(-23.655 -37.999)' fill='%237792a5'/%3E%3Cpath id='Path_406' data-name='Path 406' d='M24.446,13.283a.751.751,0,1,0,1.5,0V11.445a.751.751,0,1,0-1.5,0Z' transform='translate(-7.731 0)' fill='%237792a5'/%3E%3Cpath id='Path_407' data-name='Path 407' d='M67.146,13.283a.751.751,0,1,0,1.5,0V11.445a.751.751,0,1,0-1.5,0Z' transform='translate(-42.682 0)' fill='%237792a5'/%3E%3Cpath id='Path_408' data-name='Path 408' d='M45.87,13.443a.749.749,0,1,0,1.5,0V11.619a.749.749,0,0,0-1.5,0Z' transform='translate(-25.268 -0.175)' fill='%237792a5'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  position: relative;
  top: 4px;
}
.btn-title {
  color: #90a6b5;
}
.reward-writer {
  display: inline-block !important;
  width: 20px;
  height: 17px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.163' height='17.077' viewBox='0 0 17.163 17.077'%3E%3Cg id='edit' opacity='0.403'%3E%3Cpath id='Path_300' data-name='Path 300' d='M15.841,48.225a.427.427,0,0,0-.427.427v3.8a1.284,1.284,0,0,1-1.282,1.282H2.137A1.284,1.284,0,0,1,.855,52.448V41.309a1.284,1.284,0,0,1,1.282-1.282h3.8a.427.427,0,0,0,0-.855h-3.8A2.14,2.14,0,0,0,0,41.309V52.448a2.14,2.14,0,0,0,2.137,2.137H14.131a2.14,2.14,0,0,0,2.137-2.137v-3.8A.427.427,0,0,0,15.841,48.225Zm0,0' transform='translate(0 -37.509)'/%3E%3Cpath id='Path_301' data-name='Path 301' d='M119.664.824a1.923,1.923,0,0,0-2.72,0L109.318,8.45a.427.427,0,0,0-.11.188l-1,3.62a.427.427,0,0,0,.526.526l3.62-1a.427.427,0,0,0,.188-.11l7.626-7.626a1.926,1.926,0,0,0,0-2.72Zm-9.415,7.9,6.241-6.241L118.5,4.5l-6.241,6.241Zm-.4.807,1.608,1.608-2.224.616Zm9.714-6.093-.453.453-2.013-2.013.453-.453a1.068,1.068,0,0,1,1.511,0l.5.5A1.07,1.07,0,0,1,119.561,3.442Zm0,0' transform='translate(-103.565 -0.261)'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.ant-tag {
  webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum', 'tnum';
  font-feature-settings: 'tnum', 'tnum';
  display: inline-block;
  height: auto;
  margin-right: 8px;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  cursor: default;
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.edit-reward-tag {
  margin-left: 10px;
}
.notes-btn-editreward {
  padding: 0;
}
.btn-group-active {
  background-color: #54ae44;
  color: #fff;
  &:active {
    background-color: #54ae44;
    color: #fff;
  }
}
.btn-group-wrap {
  padding-bottom: 20px;
}
.active {
  color: #54ae44;
  background: transparent;
  border-color: #54ae44;
}
.disabled {
  color: #b5babe;
  background: transparent;
  border-color: #b5babe;
}
.create-modal .ant-modal-body {
  padding: 0;
}
.create-modal-contents {
  padding: 10px 30px;
}
.create-modal .left-panel {
  width: 80%;
  border-right: none;
}
.create-model-heading {
  font-size: 1.1rem;
  padding: 10px 0;
  color: #6a737b;
  margin: 0;
}
.tag-loyalty-icon svg {
  color: red;
}
.create-offer-code-contents {
  justify-content: left !important;

  .form-elements {
    padding-bottom: 20px;
  }
  .new-offercode-lable {
    font-weight: 600;
  }
}
.ant-btn-link-rewards {
  color: #6a737b;
}
.reward-region-name-label {
  color: #54ae44;
  background: white;
  border-color: #54ae44;
  margin-left: 0.3rem;
  font-weight: 600;
}
.regional-grid-label {
  font-weight: 600;
  color: #54ae44;
}
// table

td.opco-divider,
th.opco-divider {
  border-right: 1px dotted #adb3b8 !important;
}
.truncated-desc-td {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.location-point-input {
  width: 70px;
}
.ant-table tbody tr:not(.ant-table-expanded-row) td {
  border: none;
  padding: 0.7rem 0.7rem;
  overflow: hidden;
}
.current-points-disable {
  width: 70%;
}
.offercode-date-picker {
  width: 100%;
}
.create-new-btn {
  margin-left: 10px;
}
.code-multi-select-wrap {
  .lable {
    padding-right: 10px;
  }
  .code-multi-select {
    margin-right: 10px;
  }
}
.edit-reward-multi-select {
  display: flex;
  justify-content: center;
  align-items: center;
  .lable {
    padding-right: 10px;
    font-weight: 600;
  }
}
.edit-rewardby-approver-table {
  th {
    height: 90px !important;
  }
}
.region-switcher-reward {
  display: flex;
  flex: 0 0 auto;
  margin: 0;
  .label {
    font-size: 1rem;
    font-weight: 500;
    color: #6a737b;
    font-style: italic;
    margin: 0;
  }
}
.region-title-reward {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  .label {
    color: #6a737b;
    margin: 0;
  }
}
.rewards-note {
  .type {
    font-weight: 700;
  }
  .datetime {
    font-weight: 300;
  }
  .note-content-reward-new-comment {
    padding-top: 10px;
  }
}
.rewards-divider-ver {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='60px' width='60px' fill='%23000000' version='1.1' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3E%3Cpath fill='none' stroke='%23e5e5e5' stroke-width='2.126' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-dasharray='5.6693,5.6693' d=' M50,2.5c0,0,0,11.146,0,95' style='&%2310; background: %23e5e5e5;&%2310;'/%3E%3C/svg%3E")
    repeat-y right center;
}
.offer-code-status-dropdown {
  width: 100%;
}
.btn-tab-offercode {
  .offer-tab-title {
    color: #6a737b;
  }
  &:hover {
    color: #8cb9d0;
  }
}
.ant-badge-dot {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 6px;
  height: 6px;
  background: #f5222d;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}
.reward-download {
  color: #ff8402;
  font-size: 1.9rem;
  padding: 0 1rem 1rem 0;
}
.download-select-file-container {
  display: flex;
  padding: 20px;
  .download-text {
    width: 70%;
    font-size: 1.3em;
  }
}
.reward-td-edited {
  background-color: #ffe4e2 !important;
}

.link-div {
  color: $syscoblue;
  font-weight: 600;
  // &:hover {
  //   cursor: pointer;
  //   text-decoration: underline;
  // }
}
