@import 'src/styles/bt-ux-framework/helpers/_responsive.scss';

.page-container {
  display: flex;
  flex-direction: column;
}

.user-details-form-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.left-column {
  @include breakpoint(sm) {
    padding-right: 0.5rem;
  }
}

.right-column {
  @include breakpoint(sm) {
    padding-left: 0.5rem;
  }
}

.profile-picture {
  margin: auto;
}
