@import 'src/styles/bt-ux-framework/helpers/_responsive.scss';

.vehicle-title {
  display: flex;
  align-items: center;
}

.route-input {
  padding-right: 1rem;

  @include max-breakpoint(sm) {
    margin-bottom: 1rem;
  }
}
