//Main Theme Colors
$background: white;
$textstandard: #6a737b;
$textalternative: white;
$textalternative-faded: rgba(255, 255, 255, 0.5);
$faded-background-light: rgba(255, 255, 255, 0.6);

$liftekakblue: #008ace;
$liftekakdarkblue: #1c4f72;
$lightblue: #91c0e5;

$liftekakgreen: #54ae44;
$liftekaklightgreen: #a4c783;
$liftekakdarkgreen: #155a32;

$liftekakyellow: #f1c40f;
$lightyellow: #fff6e3;

$liftekakred: #e95c56;
$liftekakorange: #ff8402;
$darkorange: #e28a2a;

$bluegrey: #7d868d;
$bluegrey2: #7792a5;

$liftekakpurple: #8e44ad;

//Grid Colors
$gridstripes: #f7fbfd;
$gridhighlight: #fff7e4;

//Modals
$modalheader: #f6f9fc;
