// @import url('src/styles/_antd.scss');
// @import url('src/styles/helpers/_mixins.scss');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.horizontal-line {
  flex: 1;
  border-top: 1px solid gray;
  align-self: center;
}

.submit-button {
  height: 40px;
  width: 100%;
}

@mixin flexbox($base: 1 1 auto, $direction: row, $justify: center, $align: center) {
  display: flex;
  flex: $base;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  box-sizing: border-box;
  // transition: all ease-in-out 300ms;
}

//Responsive Breakpoints
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 547px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 1290px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1400px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

.antd-clickable-row {
  cursor: pointer;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.actions {
  position: absolute;
}

.ant-table-row {
  position: relative;
}

.ant-table-row:hover .actions {
  display: block;
  height: 54px;
  right: 0;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

div.ant-tabs-content.ant-tabs-content-animated.ant-tabs-top-content {
  flex: 1;
}

.tab {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tab-pane {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
